@import "../../../../Style/color";

.ProductReview-div {
  background-color: aliceblue;
  padding: torem(10px);
  margin-bottom: torem(10px);
  font-family: roboto;
  display: flex;
  flex-direction: column;
  gap: torem(10px);
}

.ProductReview-div_name {
  font-size: larger;
  font-weight: 600;
  text-transform: capitalize;
  font-size: torem(13px);
}

.ProductReview-div_rating {
  display: flex;
  gap: torem(20px);
  align-items: center;
  font-size: torem(11px);
  font-weight: 600;
}

.ProductReview-div_comment {
  font-size: torem(11px);
}