@import "../../../../Style/color";
.ProductReview-div {
  background-color: aliceblue;
  padding: torem(10px);
  margin-bottom: torem(10px);
  font-family: roboto;
}
.ProductReview-div_name {
  font-size: larger;
  font-weight: 600;
  text-transform: capitalize;
  font-size: torem(13px);
}
.ProductReview-div_rating {
  display: flex;
  gap: torem(20px);
  align-items: center;
  font-size: torem(11px);
}
.ProductReview-div_comment {
  font-size: torem(11px);
}
.ProductReview-div_btnGroup {
  display: flex;
  gap: torem(20px);
  justify-content: flex-end;
}
.ProductReview-div_btnHelpfull {
  color: gray;
  cursor: pointer;
  padding: torem(3px);
  margin-top: torem(5px);
  border: none;
  font-size: torem(12px);
  border-radius: torem(5px);
  background-color: aliceblue;
}
.ProductReview-div_btnHelpfull:hover {
  background-color: antiquewhite;
}
