.SmallProductImageContainer-div {
  display: flex;
  margin: 1.25rem;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__contianer {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  border: 1px solid gainsboro;
  justify-content: space-evenly;
  padding: 20px 10px;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__contianer img {
  border: 0.0625rem solid gainsboro;
  width: 4.375rem;
  height: 3.75rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer {
  display: flex;
  flex-direction: column;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer .SmallProductImageContainer-div__mainImg {
  border: 0.0625rem solid gainsboro;
  width: 30vw;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer div {
  margin-top: 0.625rem;
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  justify-content: space-between;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer div button {
  border: none;
  font-weight: 500;
  font-family: roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.125rem;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer div .buyNowBtn {
  color: white;
  background-color: orange;
}
.SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer div .addToCartBtn {
  background-color: whitesmoke;
  color: #015ff8;
}

/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .SmallProductImageContainer-div {
    margin: 0;
    padding: 0.9375rem 0px;
    flex-direction: column;
    position: unset;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__contianer {
    flex-direction: row;
    overflow: scroll;
    justify-content: flex-start;
    border: none;
    gap: 20px;
    padding: 0px;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__contianer img {
    width: 100vw;
    height: 50vh;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer .SmallProductImageContainer-div__mainImg {
    display: none;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer div {
    justify-content: space-evenly;
    gap: 0rem;
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
  .SmallProductImageContainer-div {
    margin: 0;
    padding: 0.9375rem 0px;
    flex-direction: column;
    position: unset;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__contianer {
    flex-direction: row;
    overflow: scroll;
    justify-content: flex-start;
    border: none;
    gap: 20px;
    padding: 0px;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__contianer img {
    width: 100vw;
    height: 50vh;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer .SmallProductImageContainer-div__mainImg {
    display: none;
  }
  .SmallProductImageContainer-div .SmallProductImageContainer-div__mainImgContainer div {
    justify-content: space-evenly;
    gap: 0rem;
  }
}
/* Tablet 2 *//*# sourceMappingURL=SmallProductImageContainer.css.map */