@import "../../../../Style/color";

.SmallProductImageContainer-div {
  display: flex;
  margin: torem(20px);

  .SmallProductImageContainer-div__contianer {
    display: flex;
    flex-direction: column;
    gap: torem(10px);
    border: 1px solid gainsboro;
    justify-content: space-evenly;
    padding: 20px 10px;

    img {
      border: torem(1px) solid gainsboro;
      width: torem(70px);
      height: torem(60px);
      object-fit: cover;
    }
  }

  .SmallProductImageContainer-div__mainImgContainer {
    display: flex;
    flex-direction: column;

    .SmallProductImageContainer-div__mainImg {
      border: torem(1px) solid gainsboro;
      width: 30vw;
      height: 60vh;
      object-fit: cover;
    }

    div {
      margin-top: torem(10px);
      display: flex;
      gap: torem(15px);
      align-items: center;
      justify-content: space-between;

      button {
        border: none;
        font-weight: 500;
        font-family: roboto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: torem(40px);
        border-radius: torem(2px);
      }

      .buyNowBtn {
        color: white;
        background-color: orange;
      }

      .addToCartBtn {
        background-color: whitesmoke;
        color: $header_base;
      }
    }
  }
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .SmallProductImageContainer-div {
    margin: 0;
    padding: torem(15px) 0px;
    flex-direction: column;
    position: unset;

    .SmallProductImageContainer-div__contianer {
      flex-direction: row;
      overflow: scroll;
      justify-content: flex-start;
      border: none;
      gap: 20px;
      padding: 0px;

      img {
        width: 100vw;
        height: 50vh;
      }
    }

    .SmallProductImageContainer-div__mainImgContainer {
      .SmallProductImageContainer-div__mainImg {
        display: none;
      }

      div {
        justify-content: space-evenly;
        gap: torem(0px);
      }
    }
  }
}

/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
  .SmallProductImageContainer-div {
    margin: 0;
    padding: torem(15px) 0px;
    flex-direction: column;
    position: unset;

    .SmallProductImageContainer-div__contianer {
      flex-direction: row;
      overflow: scroll;
      justify-content: flex-start;
      border: none;
      gap: 20px;
      padding: 0px;

      img {
        width: 100vw;
        height: 50vh;
      }
    }

    .SmallProductImageContainer-div__mainImgContainer {
      .SmallProductImageContainer-div__mainImg {
        display: none;
      }

      div {
        justify-content: space-evenly;
        gap: torem(0px);

        button {}

        .buyNowBtn {}

        .addToCartBtn {}
      }
    }
  }
}

/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {}