@import "../../../../Style/color";
.EditDeliveryAddress-div {
  display: grid;
  grid-template-columns: 0.2fr 3fr 1fr;
}
.EditDeliveryAddress-div__center__locationBtn {
  padding: torem(10px) torem(20px);
  background-color: #2874f0;
  border: none;
  margin-top: torem(15px);
  color: white;
  border-radius: torem(5px);
}
.EditDeliveryAddress-div__center form div {
  display: flex;
  margin: torem(5px) torem(0px);
  justify-content: space-between;
}
.EditDeliveryAddress-div__center__btnGrp button {
  padding: torem(15px) torem(20px);
  border: none;
  border-radius: torem(5px);
  margin-right: torem(15px);
  margin-top: torem(15px);
  font-family: poppins;
  font-weight: 600;
}
.EditDeliveryAddress-div__center__btnGrp button:first-child {
  color: white;
  background-color: #fb641b;
}
.EditDeliveryAddress-div__center__btnGrp button:last-child {
  color: #2874f0;
}
