.ProductBigDescriptionContainer-div {
  border: 1px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .ProductBigDescriptionContainer-div__for {
    padding: 20px 5px;
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
  }
}
