.ProductDetailsImageSection-div {
  margin: 0px 20px;
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ProductDetailsImageSection-div {
    margin: 0px;
    border: none;
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
}
/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {
}
