@import "../../../../../Style/color";
.ProductDescriptionSection-div {
  font-family: roboto;
  h2 {
    font-size: torem(18px);
  }
}
.ProductDescriptionSection-div__ratingDiv {
  display: flex;
  gap: torem(5px);
  align-items: center;
  margin-top: torem(5px);
}
.ProductDescriptionSection-div__totalrating,
.ProductDescriptionSection-div__totalbuy {
  font-size: torem(12px);
}
.ProductDescriptionSection-div__descPoints {
  font-size: torem(12px);
  margin-left: torem(20px);
  margin-top: torem(6px);
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .ProductDescriptionSection-div {
    h2 {
      font-size: torem(15px);
    }
  }
  .ProductDescriptionSection-div__ratingDiv {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {
}
/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {
}
