@import "../../../../Style/color";
.HeaderIcon-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 10px;
  cursor: pointer;
  img{
    width: 40px;
  }
  h1 {
    font-size: 25px;
    color: white;
    font-family: poppins;
  }
}
