@import "../../../../Style/color";
.HeaderIcon-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: torem(10px);
  cursor: pointer;
  img{
    width: torem(40px);
  }
  h1 {
    font-size: torem(25px);
    color: white;
    font-family: poppins;
  }
}
