@import "../../../Style/color";
.Pagination-div {
  display: flex;
  gap: torem(40px);
  padding: torem(20px);
  justify-content: center;
  margin-top: torem(10px);
  align-items: center;
  background-color: white;
  button{
    font-family: roboto;
    font-size: torem(12px);
    padding: torem(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: torem(5px);

  }
  .Pagination-div__next {
    color: $header_base;
    font-weight: 500;
  }
  .dissabledBtn{
    background-color: gainsboro;
    color: gray;
  }
  .active_page {
    background-color: $header_base;
    color: white;
    display: flex;
    border-radius: torem(5px);
    align-items: center;
    justify-content: center;
  }
}
