@import "../../../Style/color";
.Pagination-div {
  display: flex;
  gap: torem(40px);
  background-color: white;
  padding: torem(20px);
  justify-content: center;
  margin-top: torem(10px);
  font-family: roboto;
  font-size: torem(12px);
  align-items: center;
  .Pagination-div__next {
    color: $header_base;
    font-weight: 500;
  }
}
.active_page {
  background-color: $header_base;
  color: white;
  width: torem(18px);
  height: torem(18px);
  display: flex;
  border-radius: torem(5px);
  align-items: center;
  justify-content: center;
}
