@import "../../Style/color";

.Yourorderpage-div {
  padding: torem(10px);
  // display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
  // gap: torem(30px);
  // grid-template-columns: 0.2fr 1fr;
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Yourorderpage-div {
    display: flex;
    flex-direction: column;
    padding: 0px 5px;
    gap: 0px;
  }
}