@import "../../../Style/color";

.FilterSection-div {
  width: torem(270px);
  padding: 0px torem(10px);
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  left: 0px;
  height: fit-content;
}

.FilterSection-div__applyFilterBTN {
  align-self: center;
  width: torem(150px);
  height: torem(40px);
  border: none;
  background-color: $header_base;
  color: white;
  font-family: roboto;
  border-radius: torem(5px);
  margin: torem(20px);
}

.filterCard {
  padding: torem(15px);
  background-color: white;
  border-bottom: torem(2px) solid #e0e0e0;
}

//? Media
/* Smartphones  */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .FilterSection-div {
    width: 100%;
  }
}

/* Tablet */
@media only screen and (min-device-width: 480px) and (max-device-width: 1080px) {}

/* Tablet 2 */
@media only screen and (min-device-width: 480px) and (max-device-width: 900px) {}